vim:
  michael:
    home: "/home/michael"
    plugins:
      - 'tpope/vim-fugitive'
      - 'kien/ctrlp.vim'
      - 'scrooloose/nerdtree'
      - 'flazz/vim-colorschemes'
    background: dark
    colorscheme: candycode
    tabwidth: 2
    vimrc: |
      map <C-n> :NERDTreeToggle<CR>
